.affichebarh2{
    display: flex;
    width: 100%;
    
    gap: 64px;
}
.recherche{
   width: 100%;
   height: 56px;
   border-radius: 28px;
   background-color: rgba(239, 239, 255, 1);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px;
}

.inputrecherche{
    width: 90%;
    height: 56px;
    border: none;
    background-color:  rgba(239, 239, 255, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
}
.inputrecherche:focus{
    outline: none;
    border: none;
}
.iconburger{
    width: 24px;
    height: 20px;
}
.iconrecherche{
    width: 20px;
    height: 20px;
}
